<html>
<head>
    <title>Story management</title>

    <style type="text/css">
        th, td {
            text-align: center;
            border-width: 1px;
            border-style: solid; 
        }
        table {
            border-style: solid;
            border-width: 1px;
        }
        sup {
            font-size: 10px;
            font-weight:normal;
        }
    </style>

</head>
<body>

    <div>
        <h2>{{story.name}}<sup><a href="/p/{{story.story_id}}">edit</a></sup></h2>
        <ul>
            <li>Java estimate: {{story.java_estimate}} days</li>
            <li>CS estimate: {{story.cs_estimate}} days</li>
        </ul>
    </div>



    <form action="/s/{{story.story_id}}" method="POST">

        <label for="date">Date</label>
        <select id="date" name="date">

            {% for date in dates %}

            <option value="{{date}}">{{date|date:"d M Y"}}</option>

            {% endfor %}
        </select>


        <label for="java_hours">Java Hours</label>
        <select id="java_hours" name="java_hours">
            <option value="0"  selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>

        <label for="cs_hours">CS Hours</label>
        <select id="cs_hours" name="cs_hours">
            <option value="0"  selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>

        <label for="comment">Comment</label><input id="comment" name="comment"/>
        <input type="submit" value="Save"/>
    </form>

<div>
    <ul>
        <li>Java actual: {{java_days|floatformat}} days</li>
        <li>CS actual:  {{cs_days|floatformat}} days</li>    
    </ul>
</div>

<div>
    <table>
        <tr>
            <th>Date</th><th>Java hours</th><th>CS hours</th><th>comment</th>
        </tr>
    {% for story in stories %}
        <tr>
            <td>{{story.date|date:"d M Y"}}</td>
            <td>{{story.java_hours}}</td>
            <td>{{story.cs_hours}}</td>
            <td>
                {%if story.comment%}
                    {{story.comment}}
                {%else%}
                    &nbsp;
                {%endif%}
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
</body>
</html>
